<link rel="stylesheet" type="text/css" media="all" href="app/css/resources.css" />
<div ng-controller="resourcesController">
	<div class="resources-container">
        <div class="checkboxes">
            <span class="empty-cell"></span>
            <span class="empty-cell"></span>
            <span ng-repeat="resource in resources">
                <input type="checkbox" />
            </span>
        </div>
        <div class="names">
            <span class="empty-cell"></span>
            <span class="empty-cell"></span>
            <span ng-repeat="resource in resources">
                {{resource.name}}
            </span>
        </div>
        <timegrid days="days" hours="hours" resources="resources" selected-timeslot="selectedTimeslot" step-type="quarter"></timegrid>
	</div>
</div>