<div class="timeline">
    <div class="days">
        <slider step-count="numberOfSlots" ng-model-selected-low="startSlot" ng-model-selected-high="endSlot" selection-changed="selectionChanged"></slider>
        <div class="day" ng-repeat="day in days">
            <div class="day-header">{{day |date:'mediumDate'}}</div>
            <div class="hours">
                <span ng-repeat="hour in hours track by $index" class="cell">{{$index}}</span>
            </div>
            <div ng-repeat="resource in resources">
                <span ng-repeat="hour in hours track by $index" class="cell"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
